$headerHeight: 20px;
$gutterSize: 2px;

.widget-header {
  color: white;
  display: flex;
}
.widget-title {
  height: $headerHeight;
  flex: 2;
  align-self: flex-start;
  font-size: 16px;
  line-height: 21px;
  padding-left: 4px;
}
.widget-button {
  flex-shrink: unset;
  align-self: flex-end;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: $headerHeight - $gutterSize;
  height: $headerHeight - $gutterSize;
  margin-left: $gutterSize;
  border: 0;
  line-height: 1em;
  padding: 0;
  background: transparent;
  &:focus, &:hover {
    text-shadow: 0 0 2px white;
  }
}
.widget-title,
.widget-move-handle {
  cursor: move;
}
// y' apas d'icone double chevron vertical dans les icones esri
// du coup on prend une horizontale et on la tourne :
.esri-icon-expand{
  &:before{
    transform-origin: center center;
    display: block;
  }
  &.up-arrow:before{
    transform: rotate(90deg);
  }
  &.down-arrow:before{
    transform: rotate(-90deg);
  }
}
