<div class="widget-header" [ngStyle]="{'background-color': themeColor}">
  <div class="widget-title"
       (dblclick)="handleFold($event)">
    <ng-content></ng-content>
  </div>
  <!--
    Bouton plié
  -->
  <a *ngIf="foldable"
      (click)="handleFold($event)"
      class="widget-button"
  >
    <i *ngIf="state.folded" class="esri-icon-up-arrow"></i>
    <i *ngIf="!state.folded" class="esri-icon-down-arrow"></i>
  </a>
  <!--
    Bouton ancrer
  -->
  <a *ngIf="anchorable"
      (click)="handleAnchor($event)"
      class="widget-button"
  >
    <i *ngIf="state.anchored" class="esri-icon-minimize"></i>
    <i *ngIf="!state.anchored" class="esri-icon-dock-right"></i>
    <!-- todo possibilité de customiser l'icone si widget-container position left or right-->
  </a>
  <!--
    Bouton fermer
  -->
  <a *ngIf="closable"
      (click)="handleClose($event)"
      class="widget-button"
  >
    <i class="esri-icon-close"></i>
  </a>
</div>
