<div class="widget-header"
     [ngStyle]="{'background-color': themeColor}">
  <div class="widget-title"
       (dblclick)="handleFold($event)">
    <ng-content></ng-content>
  </div>
  <!--
    Bouton plié
  -->
  <button *ngIf="foldable"
      (click)="handleFold($event)"
      class="widget-button"
      [title]="state.folded ? 'Agrandir' : 'Réduire'"
  >
    <i class="esri-icon-expand"
       [ngClass]="{
        'down-arrow': state.folded,
        'up-arrow': !state.folded
       }"
    ></i>
  </button>
  <!--
    Bouton ancrer
  -->
  <button *ngIf="anchorable"
      (click)="handleAnchor($event)"
      class="widget-button"
      [title]="state.anchored ? 'Détacher' : 'Ancrer'"
  >
    <i
       [ngClass]="{
       'esri-icon-minimize': state.anchored,
       'esri-icon-dock-right': !state.anchored
      }"
    ></i>
  </button>
  <!--
    Bouton fermer
  -->
  <button *ngIf="closable"
      (click)="handleClose($event)"
      class="widget-button"
      title="Fermer"
  >
    <i class="esri-icon-close"></i>
  </button>
</div>
