<div class="widget-header" [ngStyle]="{'background-color': themeColor}">
  <div class="widget-title"
       (dblclick)="handleFold($event)">
    <ng-content></ng-content>
  </div>
  <!--
    Bouton plié
  -->
  <a *ngIf="foldable"
      (click)="handleFold($event)"
      class="widget-button"
  >
    <i class="esri-icon-expand"
       [ngClass]="{
        'down-arrow': !state.folded,
        'up-arrow': state.folded
       }"
    ></i>
  </a>
  <!--
    Bouton ancrer
  -->
  <a *ngIf="anchorable"
      (click)="handleAnchor($event)"
      class="widget-button"
  >
    <i
       [ngClass]="{
       'esri-icon-minimize': state.anchored,
       'esri-icon-dock-right': !state.anchored
      }"
    ></i>
  </a>
  <!--
    Bouton fermer
  -->
  <a *ngIf="closable"
      (click)="handleClose($event)"
      class="widget-button"
  >
    <i class="esri-icon-close"></i>
  </a>
</div>
