$widgetPadding: 2px;
$headerHeight: 20px;

.widget-window{
    /** même ombre qu'esri.*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    background: white;
    /** on remets les evenement pointer (désactivés par widget-container) */
    pointer-events: all;
  // transition: height .2s ease-in-out;
}
.widget-content{
    min-height: 42px;
}
.widget-resize-button{
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}
.widget-handle{
    height: $headerHeight;
}

// états en fonctions de WidgetState
.widget-state-folded{
    height: 20px;
}
.widget-state-unfolded{
    height: auto;
}
.widget-state-closed{

}
.widget-state-opened{

}
.widget-state-anchored{
   position: relative;
   right:0; top:0;
   //  height: auto;
    .widget-handle{
        cursor: pointer;
    }
}
.widget-state-floating{
   position: absolute;
}
