<!--

     ngResizable
     (rzStart)="handleResizeStart($event)"
     (rzStop)="handleResizeEnd($event)"
     (rzResizing)="handleResizing($event)"
-->
<div class="widget-window"
     #widget
     (mousedown)="incrementZIndex()"
     [ngDraggable]="config.resizable && !state.anchored"
     [handle]="widgetHandle"
     [preventDefaultEvent]="true"
     [zIndex]="state.zIndex"
     (started)="handleDragStart($event)"
     (stopped)="handleDragEnd($event)"
     [inBounds]="true"
     [bounds]="boundaries"
     mwlResizable
     (resizeEnd)="handleResizeEnd($event)"
     [style.display]="state.closed ? 'none' : 'block'"
     [style.width]="!state.anchored ? state.size.width + 'px' : '320px'"
     [style.height]="!state.anchored ? (state.folded ? 20 : state.size.height) + 'px': 'auto'"
     [ngClass]="{
        'widget-state-closed': state.closed
      , 'widget-state-open': !state.closed
      , 'widget-state-folded': state.folded
      , 'widget-state-unfolded': !state.folded
      , 'widget-state-anchored': state.anchored
      , 'widget-state-floating': !state.anchored
      }">
  <widget-header [(state)]="state"
                 [foldable]="config.foldable"
                 [closable]="config.closable"
                 [anchorable]="config.anchorable"
                 (onStateChange)="handleStateChange($event)">
    <div class="widget-handle"
         #widgetHandle>
      <i [class]="icon"></i>
      {{ title }}
    </div>
  </widget-header>
  <widget-panel *ngIf="!state.folded"
                [size]="state.size"
                [scrollable]="config.scrollable"
                [resizable]="config.resizable && !state.anchored">
    <ng-content></ng-content>
  </widget-panel>
</div>
<!-- conteneur invisible Seul reste dans le dom le composant -->
<div *ngIf="contentLoaded"
     [style.display]="'none'">
  <expand-button esriWidget
                 [title]="title"
                 [iconClass]="icon"
                 [position]="position"
                 [index]="index"
                 [active]="!state.closed"
                 (activeChange)="handleActiveChange($event)"></expand-button>
</div>
