<p-tree
  [value]="layers"
  selectionMode="checkbox"
  [(selection)]="selectedLayers"
  (onNodeSelect)="nodeSelect.emit($event)"
  (onNodeUnselect)="nodeUnselect.emit($event)"
>
  <!-- template pour les noeuds/conteneurs -->
  <ng-template let-node pTemplate="group">
    <div [innerHtml]="node.label | highlight: filter"
         [visibleForScale]="scale"
         [minScale]="node.data.minScale"
         [maxScale]="node.data.maxScale"
         tabindex="0" role="group">
    </div>
  </ng-template>
  <!-- template pour les feuilles -->
  <ng-template let-node pTemplate="leaf">
    <!-- juste pour la maquette, tooltip à améliorer, en composant ou à transformer en overlay -->
    <div [visibleForScale]="scale"
         [minScale]="node.data.minScale"
         [maxScale]="node.data.maxScale"
         [pTooltip]="'<i class=\'fa fa-eye\'></i>&nbsp;de 1/' + node.data.minScale +' à 1/'+node.data.maxScale + '<div class=\'layer-tooltip-detail\'><img class=\'icon\' src=\'favicon.ico\'>'+node.label+'</div>'"
         [tooltipPosition]="right"
         [escape]="false"
         tabindex="0" role="treeitem"
         [innerHtml]="node.label | highlight: filter">
    </div>
  </ng-template>
</p-tree>
