//	Main container element
.ui-tree {
}

//	Main container element in horizontal mode
.ui-tree-horizontal {
}

//	Container of nodes
.ui-tree-container {
}

//	A treenode element
.ui-treenode {
}

//	Content of a treenode
.ui-treenode-content {
}

//	Toggle icon
.ui-treenode-toggler {
}

//	Icon of a treenode
.ui-treenode-icon {
}

//	Label of a treenode
.ui-treenode-label {
}

//	Container element for node children
.ui-treenode-children {
}

//	Content of a selected node.
.ui-treenode-content-selected {
}

:host ::ng-deep .ui-tooltip{
  font-size: 12px;
  white-space: nowrap;
}
.ui-tree-container{
  overflow: auto;
}
