<p-tree [value]="layers"
        selectionMode="checkbox"
        [(selection)]="selectedLayers"
        (onNodeSelect)="nodeSelect.emit($event)"
        (onNodeUnselect)="nodeUnselect.emit($event)">
  <!-- template pour les noeuds/conteneurs -->
  <ng-template let-node
               pTemplate="group">
    <div [innerHtml]="node.label | highlight: filter"
         [visibleForScale]="scale"
         [minScale]="node.data.minScale"
         [maxScale]="node.data.maxScale"
         tabindex="0"
         role="group">
    </div>
  </ng-template>
  <!-- template pour les feuilles -->
  <ng-template let-node
               #leafNode
               pTemplate="leaf">
    <div [visibleForScale]="scale"
         [minScale]="node.data.minScale"
         [maxScale]="node.data.maxScale"
         tabindex="0"
         (mouseenter)="openTooltip(node.data, leafNode)"
         (mouseout)="closeTooltip()"
         [innerHtml]="node.label | highlight: filter">
    </div>
  </ng-template>
</p-tree>
