<div class="socle-widget"
     #widget
     ngDraggable
     mwlResizable
     [handle]="widgetHandle"
     (started)="handleDragStart($event)"
     (stopped)="handleDragEnd($event)"
     (mouseenter)="incrementZIndex()"
     (click)="incrementZIndex()"
     [enableGhostResize]="true"
     [preventDefaultEvent]="true"
     (resizeEnd)="handleResizeEnd($event)"
     [zIndex]="state.zIndex"
     [style.display]="state.closed ? 'none' : 'block'"
     [ngClass]="{
        'widget-state-closed': state.closed
      , 'widget-state-open': !state.closed
      , 'widget-state-folded': state.folded
      , 'widget-state-unfolded': !state.folded
      , 'widget-state-anchored': state.anchored
      , 'widget-state-floating': !state.anchored
      }"
     >
  <!--<widget-button esriWidget activated="state.active" [icon]="icon"></widget-button>-->
  <widget-header
    [(state)]="state"
    [foldable]="config.foldable"
    [closable]="config.closable"
    [anchorable]="config.anchorable"
    (onStateChange)="handleStateChange($event)"
  >
    <div class="widget-handle" #widgetHandle>{{ title }}</div>
  </widget-header>
  <widget-panel *ngIf="!state.folded" [resizable]="config.resizable && !state.anchored">
    <pre>{{ this.state | json }}</pre>
    <ng-content></ng-content>
  </widget-panel>
</div>
<!-- conteneur invisible -->
<div *ngIf="contentLoaded" [style.display]="'none'">
  <expand-button
    esriWidget
    [name]="title"
    [iconClass]="icon"
    [position]="position"
    [index]="index"
    [active]="!state.closed"
    (activeChange)="handleActiveChange($event)"
  ></expand-button>
</div>
