<sncf-header [title]="title"></sncf-header>
<esri-map
  [mapProperties]="{basemap: 'gray'}"
  [mapViewProperties]="viewProps"
>
  <widget-container position="left">
      <widget title=""></widget>
      <widget title=""></widget>
      <widget title=""></widget>
  </widget-container>
  <widget-container position="right">
      <widget title=""></widget>
      <widget title=""></widget>
      <widget title=""></widget>
  </widget-container>
  <widget-container>
      <widget title="Tableau de résultats" icon="'esri-icon'"></widget>
  </widget-container>
  <!--
  <widget-container position="right">
  </widget-container>
  -->
  <anchor-zone position="left"></anchor-zone>
  <anchor-zone position="right"></anchor-zone>
</esri-map>
<router-outlet name="sidebar"></router-outlet>
