<!-- conteneur qui prends toute la carte  -->
<div class="widget-container"
     [ngStyle]="containerStyle"
     #containerBounds
>
  <ng-content></ng-content>
  <ng-template *ngFor="let widgetPortal of stacks.floatingWidgets | async"
               [cdkPortalOutlet]="widgetPortal"></ng-template>
</div>
<!-- zone dockée -->
<anchor-zone *ngIf="anchorZone" [position]="anchorZone">
  <ng-content #anchorView select=".widget-state-anchored"></ng-content>
  <ng-template *ngFor="let widgetPortal of stacks.anchoredWidgets | async"
               [cdkPortalOutlet]="widgetPortal" ></ng-template>
</anchor-zone>
