
.widget-panel {
  position: relative;
  overflow: hidden;
  height: calc(100% - 30px);// hauteur de l'entête + 2 * padding :
  padding: 5px;
}

.widget-content {
  user-select: none;
  font-size: 14px;
}

.widget-resize-button {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: nwse-resize;
}

// surcharges perfect-scrollbar
.ps__rail-y,
.ps__rail-x{
  background-color: transparent;
}
