/* You can add global styles to this file, and also import other style files */
@import "~primeng/resources/primeng.min.css";

// surcharges des styles primeng
// Reference: https://www.primefaces.org/primeng/#/theming
$fontFamily: 'Avenir Light', Arial, sans-serif;
$fontSize: 1em;
$borderRadius: 3px;
$disabledOpacity: 0.35;

//Header
$headerBorderWidth: 1px;
$headerBorderColor: #d9d9d9;
$headerBgColor: #f6f7f9;
$headerTextColor: #1b1d1f;
$headerFontWeight: normal;
$headerIconTextColor: #1b1d1f;

//Content
$contentBorderWidth: 1px;
$contentBorderColor: #D5D5D5;
$contentBgColor: #ffffff;
$contentTextColor: #222222;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #d6d6d6;
$stateDefaultBgColor: #ffffff;
$stateDefaultTextColor: #555555;

//Active State
$stateActiveBorderColor: #bebebe;
$stateActiveBgColor: #d6d6d6;
$stateActiveTextColor: #212121;

//Highlight State
$stateHighlightBorderColor: #156090;
$stateHighlightBgColor: #186ba0;
$stateHighlightTextColor: #FFFFFF;

//Focus State
$stateFocusBorderColor: #c0c0c0;
$stateFocusBgColor: #eeeeee;
$stateFocusTextColor: #212121;

//Error State
$stateErrorBorderColor: #f44336;
$stateErrorBgColor: #f5554a;
$stateErrorTextColor: #cd0a0a;

//Hover State
$stateHoverBorderColor: #c0c0c0;
$stateHoverBgColor: #eeeeee;
$stateHoverTextColor: #212121;

//Forms
$inputBgColor: #ffffff;
$inputTextColor: #222222;
$invalidInputBorderColor: #f44336;
$inputGroupTextColor: #222222;

@import "~primeng/resources/themes/_theme.scss";;

//All PrimeNG components
.ui-widget {

}

//Header section of a component
.ui-widget-header {

}

//Content section of a component
.ui-widget-content {

}

//Default state of a clickable element
.ui-state-default {

}

//Hover state of a clickable element like mouse over
.ui-state-hover {

}

//Active state of a clickable element like mouse press
.ui-state-active {

}

//Highlighed elements
.ui-state-highlight {

}

//Disabled elements
.ui-state-disabled {

}

//Icon elements based on font awesome
.fa {

}

// surcharge styles composants

// TOOLTIP

//	Container element
.ui-tooltip {    white-space: nowrap;
  max-width: unset;
}

//	Arrow of the tooltip
.ui-tooltip-arrow {
}

//	Text of the tooltip
.ui-tooltip-text {
}

// inputs
// Textarea
//Textarea element
.ui-inputtextarea {
}

//Input element
.ui-inputtext {
}

// TREE

//	Main container element
.ui-tree {
  width: auto;
}

//	Main container element in horizontal mode
.ui-tree-horizontal {
}

//	Container of nodes
.ui-tree-container {
}

//	A treenode element
.ui-treenode {
}

//	Content of a treenode
.ui-treenode-content {
}

//	Toggle icon
.ui-treenode-toggler {
}

//	Icon of a treenode
.ui-treenode-icon {
}

//	Label of a treenode
.ui-treenode-label {
}

//	Container element for node children
.ui-treenode-children {
}

//	Content of a selected node.
.ui-treenode-content-selected {
}
